.started-button{
    border: none;
    background-color: #EA686C;
    border-radius: 5px;
    color: white;
}
.about-us{
    text-align: center;
    height: 550px;
    
}
.mid-site{
    background-color: #47CDC6;
    height: 268px;
    text-align: justify;
}
.modes-class{
    text-align: center;
    height: 457px;
}
.naim{
    
    margin-top: 50px;
}